.bg-primary{
    background-color: #1e90ff !important;
}
.btn-primary {
    background-color: #1e90ff !important;
    color: #FFFFFF;
}
.section{
    height: calc(100vh - 63px) !important
}

.card-contact {
    background-color: #fff !important;
    color: #000 !important;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #00000045;
}
.card-grey{
    background-color: #fffff !important;
    color: #000 !important;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #00000045;
}
.color-black{
    color: #000;
}
.color-red{
    color: #1e90ff;
}
.color-white {
    color: #ffffff !important;
}
.classic-input {
    border-radius: 8px;
    border-color: #b7b7b7;
    background-color: #fff;
}

.classic-input2 {
    height: 43px;
    border-radius: 8px;
    border-color: #b7b7b7;
}

.select2-container--default .select2-selection--single{
    height: 43px !important;
    border-radius: 8px !important;
    border-color: #b7b7b7 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
    color: #111 !important;
    padding-left: 19px !important;
    font-size: 12px !important;
    text-align: left !important;
}

.btn-main{
    border-radius: 8px;
    width: 100%;
    background: #1e90ff;
}
.btn-tab {
    border-radius: 8px;
    width: 49%;
    background: #1e90ff;
}

.btn-secondary {
    border-radius: 8px;
    background: #0099ff;
}
.navbar{
    margin-bottom: 0 !important;
}
.bold{
    font-weight: 700;
}
.title-big{
    font-weight: 700;
    font-size: 46px;
    line-height: 1.2;
}
.banks{
    background-color: #fff;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 8px;
}
.banks:hover,
.banks:focus,
.banks:focus-within,
.banks:active {
    background-color: #eee !important;
}